@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');


body {
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	outline: 0;
}

ul, ol {
	list-style: none;
	
}
